#capture
capture/build
capture/Capture
testcapture.raw
#processing
processing/__pycache__
processing/.qtcreator
processing/ui_form.py
processing/.ropeproject
processing/processing.pyproject
processing/processing.pyproject.user
processing/processing.pyproject.user
